


  <section id="container" >
     
     <div id="header"></div><br />
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
            <h2> Add Task </h2>
            <div class="row mt">
              <div class="col-lg-12">
                  <div class="form-panel">
                      <form class="form-horizontal style-form" method="get">
              
      <div add-Task>


         <button id="addTask" >Add Task</button> </br></br>  
      </div>       
                           

    <button type="button" class="btn btn-primary">Submit</button>
                   
               </form>
                  </div>
              </div><!-- col-lg-12-->       
            </div><!-- /row -->           


              </div>
            </div>
      
    </section>
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      
      <br />
<div id="footer"></div>
<script>
$("#header").load("callCenter/views/header.html");
$("#footer").load("callCenter/views/footer.html");
</script>
