      <div id="header"></div>
      <section id="main-content">
          <section data-ng-controller="callCenterController" class="wrapper site-min-height">
            <h2></i> Edit Incident</h2>
            <div class="row mt">
              <div class="col-lg-12">
                  <div class="form-panel">
                      <form data-ng-init="findIncident()" 
                      data-ng-submit="updateIncident()"
                      class="form-horizontal style-form">
                      
             
                      
                       <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Type of Assistance</label>
                              <div class="col-sm-10">
                        <select data-ng-model="incident.type" class="form-control">
              <option>Aliens</option>
              <option>Monsters</option>
            </select>
               </div>
                          </div>
            
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Name</label>
                              <div class="col-sm-10">
                                  <input data-ng-model="incident.name"  type="text" class="form-control">
                              </div>
                          </div>
                          

                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Victim Name</label>
                              <div class="col-sm-10">
                                  <input data-ng-model="incident.victimName"  type="text" class="form-control">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Contact Number</label>
                              <div class="col-sm-10">
                                  <input data-ng-model="incident.victimContactNumber"  type="text" class="form-control">
                              </div>
                          </div>
                          
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Location Latitude</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control">
                              </div>
                          </div>
              
                 <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Location Longitude</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control">
                              </div>
                          </div>
                          
              

            <div data-ng-repeat= "task in incident.tasks" >              
              <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Task Name</label>
                              <div class="col-sm-10">
                                  <input data-ng-model="task.sms" type="text" class="form-control">
                              </div>
                          </div>
              
                <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Priority Level</label>
                              <div class="col-sm-10">
                        <select data-ng-model="task.priority" class="form-control">
                            <option>High</option>
                            <option>Medium</option>
                            <option>Low</option>
                        </select>
                            </div>
                  </div>
             
              <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Agent</label>
                              <div class="col-sm-10">
                        <select data-ng-model="task.delegate" class="form-control">
              <option>A.S Clement</option>
              <option>A.S Jessica</option>
              <option>A.S James</option>
              <option>M.S Liam</option>
              <option>M.S Tina</option>
              <option>M.S Scarlet</option>
            </select>
                </div>
                        </div>
             </br></br>
          </div> 

        <div add-Task>
         <a class="btn btn-primary" id="addTask" >Add Task</a> </br></br>  
        </div>  
            
            
                
 
    <button type="submit" class="btn btn-primary">Update</button>
                   
                      </form>
                  </div>
              </div><!-- col-lg-12-->       
            </div><!-- /row -->           


              </div>
            </div>
      
    </section>
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      
      <br />
<div id="footer"></div>

  </section>

  <script>
$("#header").load("callCenter/views/header.html");
$("#footer").load("callCenter/views/footer.html");
</script>