      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="/#!/callCenter" class="logo"><b>CRISIS MANAGEMENT SYSTEM
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></a>

            <div class="col-sm-2 col-sm-2">
                   <b>ALERT LEVEL:</b>
            	<div class="progress progress-striped">
					<div class="progress-bar progress-bar-success" role="progressbar"
						aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
						style="width: 40%"></div>
				</div>
				</div>
            <!--logo end-->

            <div class="top-menu">
            
              <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="../authentication/login.html">Log Out</a></li>
              </ul>  
            </div>
        </header>
      <!--header end-->
      
        
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
                  <p class="centered"><img src="../../assets/img/ui-sam.jpg" class="img-circle" width="60"></p>
                  <h5 class="centered">USERNAME</h5>
                    
            
                  
                      <li class="sub-menu">
                         <a href="/#!/callCenter"><i class="fa fa-map-marker"></i> View Incident Map</a>
                  </li>
                  
                  <li class="sub-menu">
                         <a href="/#!/callCenter/incident"><i class="fa fa-file"></i> Manage Incident</a>
                  </li>
                  
              
                  
                   <li class="sub-menu">
                         <a href="users.html"><i class="fa fa-users"></i> View Delegation</a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>


          

      </aside>

     
