<div data-ng-controller="usersController" id="login-page">
      <div class="container">
      
          <form class="form-login" data-ng-submit="signin()">
            <h2 class="form-login-heading">sign in</h2>
            
            <div class="login-wrap">
                
                <p data-ng-model="error"></p>
              
                <input data-ng-model="username" type="text" class="form-control" placeholder="User ID" autofocus>
                <br>
                <input data-ng-model="password" type="password" class="form-control" placeholder="Password">
           <br>
            <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> Sign in</button>
           
          
               
                <hr>
                 </form>

  <a href="/#!/signup"><button type="button" class="btn btn-theme btn-block"><i class="fa fa-sign-in"></i> Sign Up</button></a>
    
            </div>
    
      </div>
